{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/cards.css' %}">
    


  </head>
 
  
  <body>
    
    <div class="d-flex" id="wrapper">
      {% include 'sidebar.html' %}
      <!-- Page Content -->
      <div id="page-content-wrapper">
        {% include 'navbar.html' %}
          <div class="container-fluid px-4">
            {% block content %}
            {% endblock %}
            
          </div>
          
         <footer>
          <hr>
          <div class="text-center">

            <p style="font-size: small; margin: 15px;"> 
              
              Advanced Traffic Management Service is optimized for managing traffic and pollution related information. Some features and functionalities may not be up to date. 
              Traffic, pollution, and dashboard information management are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. 
              While using ATMS, you agree to have read and accepted our

              <a href="/#" >terms of use </a> and <a href="/#">privacy policy.</a> <br>
              &copy; 2023 University of the Cordilleras ATMS Team. All rights reserved.
            </p>
          
          </div>
         </footer>
      </div>
      <!-- /#page-content-wrapper -->
    </div>


    <script src="{% static 'doughnut_chart.js' %}"></script>
    <script src="{% static 'sample.js' %}"></script>
    <script src="{% static 'polar_chart.js' %}"></script>
    <script src="{% static 'line_chart.js' %}"></script>
    <script src="{% static 'sidebar.js' %}"></script>
    <script src="{% static 'digital_clock.js' %}"></script>
  </body>
  
</html>