

<nav class="navbar navbar-expand-lg l-bg-green-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'dashboard' %}">ATMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li><a class="nav-link" href="{% url 'traffic_management' %}">GPS Sensors</a></li>
          <li><a class="nav-link" href="{% url 'pollution_management' %}">Air Quality</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Records
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'all_records' %}">All Records</a></li>
              <li><a class="dropdown-item" href="{% url 'location' %}">Locations</a></li>
              <li><a class="dropdown-item" href="{% url 'road' %}">Roads</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'add_location' %}">Add Locations</a></li>
              
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success l-bg-g text-white" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <ul class="nav justify-content-end">
          <li class="nav-item dropstart">
            <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User Admin
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'user' %}">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="{% url 'help' %}">Help</a></li>
              <li><hr class="dropdown-divider"></li>
              <li ><a class="dropdown-item" href="{% url 'login' %}">Sign out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>