<!-- Sidebar -->
<div class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
            class="fas fa-truck-monster me-2"></i>ATMS</div>
    <div class="list-group list-group-flush my-3">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-success bg-transparent ms-2 me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Please Send Feedback
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Would you like to give a feedback?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        We appreciate your visit to the ATMS website. We kindly request your feedback, which should only take 1-2 minutes of your time.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href = "https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAANAAfi8Y51UMU9aWEwzN1NMMVVNWUUyTkROTVEyTjdQOC4u" 
                class="btn btn-outline-success" for="btnradio2">Yes</a>
                </div>
                </div>
                </div>
        </div>

        <a href="{% url 'home' %}" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                class="fa fa-home me-2"></i>Home</a>
        
        <a href="{% url 'traffic_management' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-project-diagram me-2"></i>Traffic Management</a>

        <a href="{% url 'pollution_management' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-chart-line me-2"></i>Pollution Management</a>

        <a href="{% url 'devices' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="far fa-hdd me-2"></i>Sensor Devices Management</a>

        <a href="{% url 'gps_operator' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="far fa-address-card me-2"></i>GPS Operators Management</a>
                
        <a href="{% url 'gps_records' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-paperclip me-2"></i>Historical Records</a>
        
        <a href="{% url 'about_us' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fa fa-users me-2"></i>About Us</a>

        <a href="{% url 'contact_us' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fa fa-phone me-2"></i>Contact Us</a>

        <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-border-all me-2" aria-hidden="true"></i>Extended Feature</a> 

        <a href="{% url 'login' %}" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                class="fas fa-power-off me-2"></i>Logout</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->