{% extends 'base.html' %}


{% block content %}
<div class="d-flex justify-content-start">
    <div class="h3">Add Records</div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-folder me-2"></i>ATMS Admin
                </a>
                
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'all_records' %}">Main Records</a></li>
                    <li><a class="dropdown-item" href="{% url 'location' %}">Location</a></li>
                    <li><a class="dropdown-item" href="{% url 'road' %}">Road</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'add_location' %}">Add Records</a></li>
                </ul>
            </li>
    <hr> 
</div>
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="card col-4">
        <div class="card-body p-5 text-center">
        <form action="addrecord/" method="post">
        {% csrf_token %}
        Road Name:<br>
        <input name="road">
        <br><br>
        Road Type:<br>
        <input name="type">
        <br><br>

        <input type="submit" value="Submit">
        </form>
        </div>
    </div>
</div>



{% endblock %} 
