
{% extends 'base.html' %}

{% block content %}

<div class="row d-flex justify-content-center">
    <h2 class="card-header text-center">
        Vehicles
    </h2>
</div>

<div class="row d-flex justify-content-center">
    
    
    <div class="card col-xl-8">
        <h5 class="card-header text-center">Add Vehicle</h5>
        <div class="card-body ">
            <form action="" method="POST">
                {% csrf_token %}
                <b>{{form}}</b>
                
                <input class ="btn btn-success" type="submit" name="Submit">
                <a class="btn btn-warning" href="{% url 'vehicle' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
