
{% extends 'base.html' %}

{% block content %}

    <div class="row d-flex justify-content-center">
        
        
        <div class="card col-xl-8">
            <h5 class="card-header text-center">Add GPS Device</h5>
            <div class="card-body ">
                <form action="" method="POST">
                    {% csrf_token %}
                    <b>{{form}}</b>
                    
                    <input type="submit" name="Submit">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
