{% extends 'base.html' %}


{% block content %}    

<div class="row d-flex justify-content-center">
    <h5 class="card-header text-center">
        Historical Records
    </h5>
    <div class="card-body">
        <p>
            Each GPS sensor collected data shall be gathered and recorded in the system. Historical information can be view in this page.<br>
            GPS sensors collect three parameters including longitude, latitude, and speed. Time and date are also displayed.
        </p>
    </div>
</div>
<hr>
<div class="row d-flex justify-content-center">
    <div class="card col-8">
        <h5 class="card-header">GPS SENSOR ID</h5>
        <div class="card-body">
            <table class="table table-striped">
                <th>
                    <tr>
                        <td>RECORD ID</td>
                        <td>ROAD ID</td>
                        <td>LOCATION ID</td>
                        <td>VEHICLE ID</td>
                        <td>DATE - TIME</td>
                        <td>INTENSITY</td>
                        <td>HANDLE</td>
                    </tr>
                </th>
                {% for x in record %}
                <tr>
                    <td>{{ x.id }}</td>
                    <td>{{ x.road_id }}</td>
                    <td>{{ x.location_id }}</td>
                    <td>{{ x.vehicle_id }}</td>
                    <td>{{ x.time_date }}</td>
                    <td>{{ x.intensity }}</td>
                    <td><a href="delete/{{ x.id }}">delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %} 
