{% extends 'base.html' %}


{% block content %}    

<div class="row d-flex justify-content-center">
    <h2 class="card-header text-center">
        Historical Records
    </h2>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
        <a href = "{% url 'gps_records' %}" class="btn btn-outline-success" for="btnradio1">GPS Sensor</a>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <a href = "{% url 'pollution_records' %}" class="btn btn-outline-success" for="btnradio2">Pollution Detector</a>
    </div>
    <div class="card-body">
        <p>
         The set of the data shown below are GPS's Historical Information.
         
        </p>
    </div>
</div>
<hr>
<div class="row d-flex justify-content-center">
    <div class="card col-xxl-6 col-sm-12">
       
        <h4 class="card-header d-flex justify-content-center text-white" style="background-color: rgb(10, 107, 107);">
            Collected GPS Sensors Information
        </h4>
        <div class="card-body">
            <div class="table-responsive table-responsive-sm">
                <table class="table table-striped ">
                    <th>
                        <tr>
                            <td>GPSID</td>
                            <td>Latitude</td>
                            <td>Longitude</td>
                            <td>Speed</td>
                            <td>DATE/TIME</td>
                        </tr>
                    </th>

                    {% for device in gps_information %}
                    <tr>
                        <td>{{ device.gpsdevice }}</td>
                        <td>{{ device.latitude }}</td>
                        <td>{{ device.longitude }}</td>
                        <td>{{ device.speed }}</td>
                        <td>{{ device.date_created }}</td>

                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %} 
