{% extends 'base.html' %}


{% block content %}    

<div class="row d-flex justify-content-center">
    <div class="card-header text-center">
        <a href="{% url 'devices' %}" style="text-decoration-line: none; color: black;">
            <h2 class="align-items-center">
                <i class="fas fa-arrow-left me-2 fs-4"></i>
                Sensor Devices

            </h2> 
        </a>
    </div>
    <div class="card-body">
        <p>
            This page allows you to view the GPS Device' Historical Data and its corresponding information. <br><br>
            
            1. You can also select any GPS Device you would like to view in this page. <br>
            2. If you want to go back to the Sensor Devices, you can navigate to the sidebar menu or simply click the Title page. <br>
        </p>
    </div>
</div>
<hr>
<div class="row d-flex justify-content-center ">
    <div class="col-xl-4 col-sm-6">
        <div class="card-header d-flex align-items-center">
            <h5 class="me-3">Device: </h5>
            <select class="form-select" aria-label="Default select example" onchange="window.location.href=this.value">
                <option selected>{{ gps_device.name }}</option>
                {% for gps in gps %}
                <option value="{% url 'gps' gps.id %}">{{ gps.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<hr>
<div class="row d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
        <div class="card col-xl-2 col-sm-12">
            <h5 class="card-header d-flex justify-content-center text-white" style="background-color: rgb(10, 107, 107);" >
                GPS
            </h5>
            <h3 class="card-body d-flex justify-content-center ">
                {{ gps_device.name }}
            </h3>
        </div>
        <div class="card col-xl-2 col-sm-12">
            <h5 class="card-header d-flex justify-content-center text-white" style="background-color: rgb(10, 107, 107);" >
                Status
            </h5>
            <h3 class="card-body d-flex justify-content-center ">
                {{ gps_device.status }}
            </h3>
        </div>
    
        <div class="card col-xl-2 col-sm-12">
            <h5 class="card-header d-flex justify-content-center text-white" style="background-color: rgb(10, 107, 107);">
                Device Info
            </h5>
            <div class="card-body d-flex justify-content-center">
                <p>
                    <b>IMEI:</b> {{ gps_device.imei }} <br>
    
                    <b>Product Model: </b>{{ gps_device.model }}
                </p>
            </div>
        </div>
    </div>

    <div class="card col-xxl-6 col-sm-12">
       
        <h4 class="card-header d-flex justify-content-center text-white" style="background-color: rgb(10, 107, 107);">
            Historical Information
        </h4>
        <div class="card-body">
            <div class="table-responsive table-responsive-sm">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>GPSID</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Speed (Kph)</th>
                        </tr>
                    </thead>

                    {% for gps_coordinate in gps_coordinate %}
                    <tr>
                        <td scope="row">{{ gps_coordinate.date }}</td>
                        <td>{{ gps_coordinate.time }}</td>
                        <td>{{ gps_coordinate.gpsdevice }}</td>
                        <td>{{ gps_coordinate.latitude }}</td>
                        <td>{{ gps_coordinate.longitude }}</td>
                        <td>{{ gps_coordinate.speed }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</div>


{% endblock %} 