{% extends 'base.html' %}


{% block content %}    

<div class="row d-flex justify-content-center">
    <h2 class="card-header text-center">
        Historical Records
    </h2>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <a href = "{% url 'gps_records' %}" class="btn btn-outline-success" for="btnradio1">GPS Sensor</a>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <a href = "{% url 'pollution_records' %}" class="btn btn-outline-success" for="btnradio2">Pollution Detector</a>
    </div>
    <div class="card-body">
        <p>
            Each GPS sensor collected data shall be gathered and recorded in the system. Historical information can be view in this page.<br>
            GPS sensors collect three parameters including longitude, latitude, and speed. Time and date are also displayed.
        </p>
    </div>
</div>
<hr>
<div class="row d-flex justify-content-center">
    <div class="card col-xxl-6 col-sm-12">
        <h5 class="card-header text-white d-flex justify-content-center" style="background-color: rgb(2, 63, 26);">
            ALL GPS Devices Historical Records
        </h5>
        <div class="card-body">
            <div class="table-responsive table-responsive-sm">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>GPS Name</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Speed</th>
                        </tr>
                    </thead>

                    {% for gps in gps_coordinate %}
                    <tr>
                        <td>{{ gps.date }}</td>
                        <td>{{ gps.time }}</td>
                        <td>{{ gps.gpsdevice }}</td>
                        <td>{{ gps.latitude }}</td>
                        <td>{{ gps.longitude }}</td>
                        <td>{{ gps.speed }}</td>

                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %} 
