{% extends 'base.html' %}


{% block content %}    

<div class="row d-flex justify-content-center">
    <h2 class="card-header text-center">
       Air Pollution Device Historical Records
    </h2>
    
    <div class="card-body">
        <p>
            Each GPS sensor collected data shall be gathered and recorded in the system. Historical information can be view in this page.<br>
            GPS sensors collect three parameters including longitude, latitude, and speed. Time and date are also displayed.
        </p>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
        <div class="card col-xl-2 col-sm-12">
            <h5 class="card-header d-flex justify-content-center text-white" style="background-color: rgb(10, 107, 107);" >
                Status
            </h5>
            <h3 class="card-body d-flex justify-content-center ">
                {{ pollution_device.status }}
            </h3>
        </div>
    
        <div class="card col-xl-2 col-sm-12">
            <h5 class="card-header d-flex justify-content-center text-white" style="background-color: rgb(10, 107, 107);">
                Device Info
            </h5>
            <div class="card-body d-flex justify-content-center">
                <p>
                    Product Model: {{ pollution_device.product_model }} <br>
    
                    Description: {{ pollution_device.description }}
                </p>
            </div>
        </div>
    </div>

    <hr>
    <div class="card col-xxl-6 col-sm-12">
       
        <h4 class="card-header d-flex justify-content-center text-white" style="background-color: rgb(10, 107, 107);">
            {{pollution_device}} Historical Information
        </h4>
        <div class="card-body">
            <div class="table-responsive table-responsive-sm">
                <table class="table table-striped ">
                    <th>
                        <tr>
                            <td>Name</td>
                            <td>PM</td>
                            <td>Gaseous</td>
                            <td>Meteorological</td>
                            <td>Other Pollutants</td>
                            <td>Location</td>
                            <td>DATE/TIME</td>
                        </tr>
                    </th>

                    {% for device in pd_information %}
                    <tr>
                        <td>{{ device.pollution_detector }}</td>
                        <td>{{ device.pm }}</td>
                        <td>{{ device.gaseous }}</td>
                        <td>{{ device.meteorological }}</td>
                        <td>{{ device.other_pollutants }}</td>
                        <td>{{ device.location }}</td>
                        <td>{{ device.date_created }}</td>

                    </tr>
                    {% endfor %}


                </table>
            </div>
        </div>
    </div>

</div>


{% endblock %} 