{% extends 'base.html' %}


{% block content %}    

<div class="row d-flex justify-content-center">
    <h5 class="card-header text-center">
        Historical Records
    </h5>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
        <a href = "{% url 'gps_records' %}" class="btn btn-outline-success" for="btnradio1">GPS Sensor</a>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <a href = "{% url 'pollution_records' %}" class="btn btn-outline-success" for="btnradio2">Pollution Detector</a>
    </div>
    <div class="card-body">
        <p>
            Each Air Pollution Detector collected information shall be gathered and recorded in the system. Historical information can be view in this page.
            <br>
            All including particulate matter(PM), Gaseous, Meteorological, other pollutants, location, time and the date.
            
        </p>
    </div>
</div>
<hr>
<div class="row d-flex justify-content-center">
    <div class="card col-8">
       
        <div class="card-header d-flex justify-content-center text-white" style="background-color: rgb(14, 90, 4);">
            <div class="col-xl-4">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select a Pollution Detector</option>
                    <option value="1">Detector 1</option>
                    <option value="2">Detector 2</option>
                    <option value="3">Detector 3</option>
                  </select>
            </div>
            
        </div>
        <div class="card-body">
            <div class="table-responsive table-responsive-sm">
                <table class="table table-striped ">
                    <th>
                        <tr>
                            <td>Air Sensor ID</td>
                            <td>PM</td>
                            <td>Gaseous</td>
                            <td>Meteorological</td>
                            <td>Other Pollutants</td>
                            <td>Location</td>
                            <td>Date/Time</td>
                        </tr>
                    </th>
                    {% for detector in pollution_information %}
                    <tr>
                        <td>{{ detector.pollution_detector }}</td>
                        <td>{{ detector.pm }}</td>
                        <td>{{ detector.gaseous }}</td>
                        <td>{{ detector.meteorological }}</td>
                        <td>{{ detector.other_pollutants }}</td>
                        <td>{{ detector.location }}</td>
                        <td>{{ detector.date_created }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %} 
