{% extends 'base.html' %}


{% block content %}    

<div class="row d-flex justify-content-center">
    <h2 class="card-header text-center">
        GPS Devices Handlers
    </h2>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
        <a href = "{% url 'gps_operator' %}" class="btn btn-outline-success" for="btnradio1">GPS Operators</a>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
        <a href = "{% url 'vehicle' %}" class="btn btn-outline-success" for="btnradio2">GPS Vehicles</a>
    </div>
    <div class="card-body">
        <p>
            This page handles information of GPS Devices Handlers of the GPS Sensor Devices and Pollution Detector Devices.
        </p>
    </div>
</div>
<hr>
<div class="row d-flex justify-content-center">
    
    <div class="card col-xxl-7 col-sm-12">
        <div class="card-header text-white d-flex justify-content-between align-items-center" style="background-color: rgb(104, 5, 124);"> <h3>Vehicles</h3>
            <a href="#" class="btn btn-primary btn-lg bg-transparent" tabindex="-1" role="button" aria-disabled="false">Add Vehicle</a>
        </div>
        <div class="card-body">
            <div class="table-responsive table-responsive-sm">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>Vehicle Plate</th>
                            <th>Vehicle Description</th>
                        </tr>
                    </thead>
                    {% for vehicle in vehicle %}
                    <tr>
                        <td>{{ vehicle.plate_no }}</td>
                        <td>{{ vehicle.description }}</td>               
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %} 
