
{% extends 'base.html' %}
{%load static%}
{% block content %}
  <h2 class="card-header text-center">
    ATMS Dashboard
  </h2>

<div class="card-body">
  <h5>ATMS Extended Features and Information </h5>
  <p>
    The Advanced Traffic Management Service (ATMS) is a comprehensive traffic management system that goes beyond basic traffic monitoring and control. 
    It is a sophisticated system that utilizes advanced technologies to gather and analyze various data to provide valuable insights for traffic management and control. 
    In addition to the features already mentioned, such as vehicle counting, accident counting, and weather reports, the ATMS can offer several other types of information 
    to support traffic management efforts.
  </p>
</div>

<div class="row d-flex justify-content-center">
  <div class="card col-lg-3">
    <div class="card-body">
      <div class="d-flex justify-content-between ">
          <div class="fs-2">5</div>
        <i class = "fas fa-car-crash fs-1 bg-transparent "></i>
      </div>
    </div>
    <div class="card-footer text-white text-center" style="background-color: rgb(165, 43, 43);">Incidents Today</div>
  </div>
  <div class="card col-lg-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
          <div class="fs-2">25</div>
        <i class = "fas fa-car-crash fs-1 bg-transparent "></i>
      </div>
    </div>
    <div class="card-footer text-white text-center" style="background-color: rgb(165, 43, 43);">Incidents Last Week</div>
  </div>
  <div class="card col-lg-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
          <div class="fs-2">50</div>
        <i class = "fas fa-car-crash fs-1 bg-transparent " ></i>
      </div>
    </div>
    <div class="card-footer text-white text-center" style="background-color: rgb(165, 43, 43);">Incidents Last Month</div>
  </div>
</div>

<hr>

<div class="row justify-content-center">
  <div class="card col-lg-4">
    <div class="card-header text-center">
      <h6>Vehicle Per Hour (VPH)</h6>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center rounded">
        <div class="fs-1"><b>5,231</b></div>
        <i class = "fas fa-arrow-up fs-1 bg-transparent" ></i>
      </div>
    </div>
    <div class="card-footer text-center text-white" style="background-color: rgb(122, 81, 4);"><h5>Inbound Traffic Volume</h5> </div>
  </div>

  <div class="card col-lg-4">
    <div class="card-header text-center">
      <h6>Vehicle Per Hour (VPH)</h6>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center rounded">
        <div class="fs-1"><b>3,231</b></div>
        <i class = "fas fa-arrow-down fs-1 bg-transparent" ></i>
      </div>
    </div>
    <div class="card-footer text-center text-white" style="background-color: rgb(11, 100, 70);"><h5>Outbound Traffic</h5> </div>
  </div>
</div>


<hr>


<div class="row justify-content-center">
  <div class="card col-9">
    <h5 class="card-header text-white text-center" style="background-color: rgb(3, 124, 124);">
      Predictive Analytics
    </h5>
    <div class="card-body">
      <canvas id="barChart"></canvas>
    </div>
    <div class="card-footer">
      <p>
         The ATMS can use historical and real-time data to predict traffic patterns and trends. 
        This information can be used to anticipate congestion and proactively implement measures to alleviate it, such as adjusting signal timings or rerouting traffic. 
        Predictive analytics can also help in planning road maintenance activities and optimizing road network capacity.
      </p>
    </div>
  </div>
</div>


    <div class="row d-flex align-items-center">
      <div class="col-xl-6">
        <div class="row">
          <div class="col-xl-6">
            <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center rounded">
                    <div>
                      <div class="fs-2">25</div>
                      <div class="fs-5">New Accidents</div>
                    </div>
                    <i class = "fas fa-car-crash fs-1 bg-transparent "></i>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center rounded">
                    <div>
                      <div class="fs-2">34.23%</div>
                      <div class="fs-5">Important Info</div>
                    </div>
                    <i class = "fas fa-arrow-down fs-1 bg-transparent "></i>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center rounded">
                    <div>
                      <div class="fs-2">24.12</div>
                      <div class="fs-5">Important Info</div>
                    </div>
                    <i class = "fas fa-arrow-left fs-1 bg-transparent "></i>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center rounded">
                    <div>
                      <div class="fs-2">312.2%</div>
                      <div class="fs-5">Important Info</div>
                    </div>
                    <i class = "fas fa-arrow-right fs-1 bg-transparent"></i>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-between">
                      <div class="h2">Weather </div>
                      <div class="align-self-center">
                          <div class="d-flex">
                              <div class="display-6 text-info"><i class="mdi mdi-weather-pouring"></i></div>
                              <div class="m-l-20">
                                  <h1 class="font-light text-info m-b-0">32<sup>0</sup></h1> <small>Sunny Rainy day</small>
                              </div>
                          </div>
                      </div>

                      <div class="text-center">
                          <h1 class="font-light m-b-0">25<sup>0</sup></h1> <small>Tonight</small>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 ">
          <div class="col-xl-12">
            <div class="card">
              
                <div class="card-body">
                  <canvas id="chartjs-line"></canvas>
                </div>
            
            </div>
          </div>
      </div>
    </div>



    
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h3 class="danger">278</h3>
                  <span>New Projects</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-rocket danger font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h3 class="success">156</h3>
                  <span>New Clients</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-user success font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h3 class="warning">64.89 %</h3>
                  <span>Conversion Rate</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-pie-chart warning font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h3 class="primary">423</h3>
                  <span>Support Tickets</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-support primary font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h3 class="primary">278</h3>
                  <span>New Posts</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-book-open primary font-large-2 float-right"></i>
                </div>
              </div>
              <div class="progress mt-1 mb-0" style="height: 7px;">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h3 class="warning">156</h3>
                  <span>New Comments</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-bubbles warning font-large-2 float-right"></i>
                </div>
              </div>
              <div class="progress mt-1 mb-0" style="height: 7px;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h3 class="success">64.89 %</h3>
                  <span>Bounce Rate</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-cup success font-large-2 float-right"></i>
                </div>
              </div>
              <div class="progress mt-1 mb-0" style="height: 7px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h3 class="danger">423</h3>
                  <span>Total Visits</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-direction danger font-large-2 float-right"></i>
                </div>
              </div>
              <div class="progress mt-1 mb-0" style="height: 7px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="stats-subtitle">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <h4 class="text-uppercase">Vehicle Count Statistics</h4>
      <p>Statistical number of inbound &amp; and outbound traffic in Baguio City.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-12">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <i class="icon-arrow-up primary font-large-2 mr-2"></i>
              </div>
              <div class="media-body">
                <h4>Total Outbound</h4>
                <span>Daily </span>
              </div>
              <div class="align-self-center">
                <h1>18,000</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <i class="icon-arrow-down warning font-large-2 mr-2"></i>
              </div>
              <div class="media-body">
                <h4>Total Inbound</h4>
                <span>Daily </span>
              </div>
              <div class="align-self-center"> 
                <h1>84,695</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <h1 class="mr-2">76,456</h1>
              </div>
              <div class="media-body">
                <h4>Total Registered</h4>
                <span>Annually</span>
              </div>
              <div class="align-self-center">
                <i class="icon-vehicle danger font-large-2"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <h1 class="mr-2">160</h1>
              </div>
              <div class="media-body">
                <h4>Total Accidents</h4>
                <span>Monthly</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}