{% extends 'base.html' %}


{% block content %}    

<div class="row d-flex justify-content-center">
    <h2 class="card-header text-center">Sensor Devices</h2>
    <div class="card-body">
        <p>
            This page handles information of devices including the GPS Sensor Devices and Pollution Detector Devices.<br>
            Users are able to add, update, view and delete information of a specific Sensor Device.
        </p>
    </div>
</div>

<hr>
<div class="row d-flex justify-content-center">
    <div class="card col-xl-2 col-sm-6">
        <div class="card-body d-flex justify-content-center">
            <h3>{{ total_gps }}</h3>
        </div>
        <div class="card-footer d-flex justify-content-center text-white" style="background-color: rgb(40, 27, 114);">
            Total GPS Devices
        </div>
    </div>
    <div class="card col-xl-2 col-sm-6">
        <div class="card-body d-flex justify-content-center">
            <h3>{{deployed_gps}}</h3>
        </div>
        <div class="card-footer d-flex justify-content-center text-white" style="background-color: rgb(40, 27, 114);">
            Total Deployed
        </div>
    </div>
    <div class="card col-xl-2 col-sm-6">
        <div class="card-body d-flex justify-content-center">
            <h3>{{total_pd}}</h3>
        </div>
        <div class="card-footer d-flex justify-content-center text-white" style="background-color: rgb(4, 92, 104);">
            Total Pollution Devices
        </div>
    </div>
    <div class="card col-xl-2 col-sm-6">
        <div class="card-body d-flex justify-content-center">
            <h3>{{deployed_pd}}</h3>
        </div>
        <div class="card-footer d-flex justify-content-center text-white" style="background-color: rgb(4, 92, 104);">
            Total Deployed
        </div>
    </div>
    
</div>
<div class="row">
    <div class="card col-xxl-6 col-sm-12">
        <div class="card-header text-white d-flex justify-content-between" style="background-color: rgb(40, 27, 114);"> <h3>GPS Sensor Devices</h3>
            <a href="{% url 'add_gps' %}" class="btn btn-primary btn-lg bg-transparent" tabindex="-1" role="button" aria-disabled="false">Add Device</a>
        </div>
        <div class="card-body">
            <div class="table-responsive table-responsive-sm">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>IMEI</th>
                            <th>Product Model</th>
                            <th>Status</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gps in gps %}
                            <tr>
                                <td><a href="{% url 'gps' gps.id %}" class="btn btn-sm btn-info bg-transparent">View</a></td>
                                <td>{{ gps.id }}</td>
                                <td>{{ gps.name }}</td>
                                <td>{{ gps.imei }}</td>
                                <td>{{ gps.model }}</td>
                                <td>{{ gps.status }}</td>
                                <td><a href="{% url 'update_gps' gps.id %}" class="btn btn-sm btn-info">Update</a></td>
                                <td><a href="{% url 'delete_gps' gps.id %}" class="btn btn-sm btn-danger">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>

    <div class="card col-xxl-5 col-sm-12">
        <div class="card-header text-white d-flex justify-content-between" style="background-color: rgb(4, 92, 104);"> <h3>Pollution Detector Devices</h3>
            <a href="#" class="btn btn-primary btn-lg bg-transparent" tabindex="-1" role="button" aria-disabled="false">Add Device</a>
        </div>
        <div class="card-body">
            <div class="table-responsive table-responsive-sm">
                <table class="table table-striped ">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Pollution Sensor</th>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                {% for pd in pollution_device %}
                <tr>
                    <td><a href="{% url 'p_device' pd.id %}" class="btn btn-sm btn-info bg-transparent">View</a></td>
                    <td>{{ pd.id }}</td>
                    <td>{{ pd.name }}</td>
                    <td>{{ pd.product_model }}</td>
                    <td>{{ pd.description }}</td>
                    <td>{{ pd.status }}</td>
                    <td><a href="" class="btn btn-sm btn-info">Update</a></td>
                    <td><a href="" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %} 
