{% extends 'base.html' %}


{% block content %}    

<div class="row d-flex justify-content-center">
    <h5 class="card-header text-center">
        Sensor Devices
    </h5>
    <div class="card-body">
        <p>
            This page handles information of devices including the GPS Sensor Devices and Pollution Detector Devices.
        </p>
    </div>
</div>
<hr>
<div class="row d-flex justify-content-center">
    <div class="card col-xl-2 col-sm-6">
        <div class="card-body d-flex justify-content-center">
            {{total_gps_devices}}
        </div>
        <div class="card-footer d-flex justify-content-center">
            Total GPS Devices
        </div>
    </div>


</div>
<div class="row">
    <div class="card col-xxl-6 col-sm-12">
        <div class="card-header text-white d-flex justify-content-between" style="background-color: rgb(40, 27, 114);"> <h3>GPS Sensor Devices</h3>
            <a href="#" class="btn btn-primary btn-lg bg-transparent" tabindex="-1" role="button" aria-disabled="false">Add Device</a>
        </div>
        <div class="card-body">
            <div class="table-responsive table-responsive-sm">
                <table class="table table-striped ">
                    <th>
                        <tr>
                            <td>GPSID</td>
                            <td>Name</td>
                            <td>IMEI</td>
                            <td>Product Model</td>
                            <td>Status</td>
                        </tr>
                    </th>
                    
                </table>
            </div>
        </div>
    </div>

    <div class="card col-xxl-5 col-sm-12">
        <div class="card-header text-white d-flex justify-content-between" style="background-color: rgb(4, 92, 104);"> <h3>Pollution Detector Devices</h3>
            <a href="#" class="btn btn-primary btn-lg bg-transparent" tabindex="-1" role="button" aria-disabled="false">Add Device</a>
        </div>
        <div class="card-body">
            <div class="table-responsive table-responsive-sm">
                <table class="table table-striped ">
                    <th>
                        <tr>
                            <td>Detector Name</td>
                            <td>Product</td>
                            <td>Description</td>
                            <td>Status</td>
                        </tr>
                    </th>
                    <!-- {% for detector in pollution_detector %}
                    <tr>
                        <td>{{ detector.pd_name }}</td>
                        <td>{{ detector.product_model }}</td>
                        <td>{{ detector.description }}</td>
                    </tr>
                    {% endfor %} -->
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %} 
