
{% extends 'base.html' %}

{% block content %}

<div class="row">
    <h2 class="card-header text-center">
        Air Pollution Management Service
    </h2>

    <div class="card-body">
        <h5 class="card-title">Here, you can view pollution data.</h5>
        <p>
            There are currently two Air quality sensor that can collect
            information such as the table shown below. 
        
        </p>
        
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="card text-center">
        <h5 class="card-header text-white" style="background-color: rgb(6, 83, 57); ">GPS Sensors Information</h5>
        <div class="card-body">
            <div class="table-responsive table-responsive-sm">
            <table class="table table-striped ">
                <thead>
                  <tr>
                    <th >Date/Time</th>
                    <th >Sensor Name</th>
                    <th >PM</th>
                    <th >Gaseous</th>
                    <th >Meteorological</th>
                    <th >Other pollutants</th>
                    <th >Location</th>
                    
                  </tr>
                </thead>
                <tbody>

                    {% for pd in pollution_data %}
                    <tr>
                        <td>{{pd.date_created}} </td>
                        <td>{{ pd.p_sensor }}</td>
                        <td>{{ pd.pm }}</td>
                        <td>{{ pd.gaseous }}</td>
                        <td>{{ pd.meteorological }}</td>
                        <td>{{ pd.other_pollutants }}</td>
                        <td>{{ pd.location }}</td>
                    </tr>
                    {% endfor %}
                
                </tbody>
              </table>
            </div>
        </div>
    </div>


    
</div>


<div class="row d-flex justify-content-center">
    <div class="card col-lg-5">
        <h5 class="card-header text-white text-center" style="background-color: rgb(5, 99, 99);">
            Air Quality Polar Chart
        </h5>
        <div class="card-body">
            <canvas id="polarChart"></canvas>
        </div>
    </div>

    <div class="card col-lg-6">
        <h5 class="card-header text-white text-center" style="background-color: rgb(5, 99, 99);">
            Air Quality Line Chart
        </h5>
        <div class="card-body">
            <canvas id="lineChart"></canvas>
        </div>
    </div>


</div>


<div class="row">
  



 
</div>

{% endblock %}
