{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--. Grid Card GPS Sensor -->
    <div class="row">
        <div class="card-header text-center">
            <h3>Traffic Management Service</h3>
        </div>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
            <a href = "{% url 'traffic_management' %}" class="btn btn-outline-success" for="btnradio1">Unprocessed Data Visualization</a>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
            <a href = "{% url 'traffic_management2' %}" class="btn btn-outline-success" for="btnradio2">Processed Data Visualization</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Here we let you visualize traffic congested locations.</h5>
            <p>
                There are two version of Traffic Management Service, click the buttons above or the link
                of desired version.<br>
                <a href="{% url 'traffic_management' %}">Version 1</a> displays unprocessed information. <br>
                <a href="{% url 'traffic_management2' %}">Version 2</a> displays processed information. <br>
            </p>
            <p class="text-danger">
                Notes: <br> 
                1. GPS Sensors are not yet linked to this website, therefore real-time data will not work. The doughnut chart is currently at maintenance.<br> 
            </p>
            <p>
                Real-time data are proccessed and rendered in this page. <br>
                Everytime a GPS device collected data, the system processed it and gives results on the following: <br>
                1. When gps device is added, a card is created. <br>
                2. A GPS card includes a background color, name of the device, location in (Latitude and Longitude) and speed in Kph. <br>
                3. A card background color consist of 5 categories described below.  <br>
                4. The main purpose of this page is to allow you to view what GPS device is currently at a location that is traffic congested.  <br>
                5. Coloration of cards should make it easier for you to view all status.  <br>
                6. ATMS are still in the early stage, we hope that this system is quite useful.  <br>

            </p>

        </div>
    </div>
    
    <div class="row d-flex justify-content-center">
        
        <div class="card col-lg-6">
            <h5 class="card-header text-white text-center" style="background-color: rgb(1, 77, 14);">GPS Sensor Coloration Indicator</h5>
            <div class="card-body">
                <p>
                    <b>Traffic is deteremined by card color.</b>
                </p>
                <p class="l-bg-grey-dark ps-1 mb-0">GPS Sensor on Standby or Mulfunctioned</p>
                <p class="l-bg-green-dark ps-1 mb-0">Normal Flow of Traffic</p>
                <p class="l-bg-yellow-dark ps-1 mb-0">Light Traffic </p>
                <p class="l-bg-orange-dark ps-1 mb-0">Traffic</p>
                <p class="l-bg-cherry ps-1 mb-0">Extreme Traffic</p>


            </div>
        </div>
        <div class="card col-lg-5">   
            <h5 class="card-header text-white text-center" style="background-color: rgb(1, 77, 14);">Coloration Count Chart:</h5> 
            <div class="card-body">
                <canvas id="doughnutChart"></canvas>
            </div>
            <div class="card-footer"><p style="font-size: small;">Example Reading: According to the chart, there are 15 GPS sensors highlighted in red, indicating that 15 vehicles are currently facing severe traffic conditions.</p></div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center">
        {% for gps, last_coordinate in gps_last_coordinate.items %}
            {% if gps.status == 'Standby' or gps.status == 'Malfunctioned'  %}
            <div class="col-xxl-2 col-lg-3 col-sm-6">
                <div class="card card-1" >
                    <div class="card-statistic-3 p-4">

                        <h5 class="card-title mb-4">{{ gps.name }} </h5>

                        <div class="row justify-content-between align-items-center mb-2">
                            <div class="col-6">
                                <p class="d-flex align-items-center mb-0">
                                    {{last_coordinate.latitude }} | {{last_coordinate.longitude }}
                                </p>
                            </div>
                            <div class="col-6">
                                <span> {{last_coordinate.speed }} Kph</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% elif gps.status == 'Deployed'%}
                <!-- IF a GPS is in Deployed Status, There are 4 different card coloration involve. -->
                <!-- This section is for Local Street Logicl -->
                {% if last_coordinate.road_type == 1 %}
                    {% if last_coordinate.speed >= ten %}
                        <div class="col-xxl-2 col-lg-3 col-sm-6">
                            <div class="card card-2" >
                                <div class="card-statistic-3 p-4">
                                    <h5 class="card-title mb-4">{{ gps.name }} </h5>
                                    <div class="row justify-content-between align-items-center mb-2">
                                        <div class="col-6">
                                            <p class="d-flex align-items-center mb-0">
                                                {{last_coordinate.latitude }} | {{last_coordinate.longitude }}
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <span> {{ last_coordinate.speed}} Kph</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% elif last_coordinate.speed > zero %}
                        <div class="col-xxl-2 col-lg-3 col-sm-6">
                            <div class="card card-3" >
                                <div class="card-statistic-3 p-4">
                                    <h5 class="card-title mb-4">{{ gps.name }} </h5>
                                    <div class="row justify-content-between align-items-center mb-2">
                                        <div class="col-6">
                                            <p class="d-flex align-items-center mb-0">
                                                {{last_coordinate.latitude }} | {{last_coordinate.longitude }}
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <span> {{ last_coordinate.speed}} Kph</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% elif last_coordinate.speed == zero %}
                        <div class="col-xxl-2 col-lg-3 col-sm-6">
                            <div class="card card-4" >
                                <div class="card-statistic-3 p-4">
                                    <h5 class="card-title mb-4">{{ gps.name }} </h5>
                                    <div class="row justify-content-between align-items-center mb-2">
                                        <div class="col-6">
                                            <p class="d-flex align-items-center mb-0">
                                                {{last_coordinate.latitude }} | {{last_coordinate.longitude }}
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <span> {{ last_coordinate.speed}} Kph</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- End of Local Street Logic -->
                <!-- Start of Arterial Road type logic -->
                {% elif last_coordinate.road_type == 2 %}
                    {% if last_coordinate.speed >= twentyfive %}
                        <div class="col-xxl-2 col-lg-3 col-sm-6">
                            <div class="card card-2" >
                                <div class="card-statistic-3 p-4">
                                    <h5 class="card-title mb-4">{{ gps.name }} </h5>
                                    <div class="row justify-content-between align-items-center mb-2">
                                        <div class="col-6">
                                            <p class="d-flex align-items-center mb-0">
                                                {{last_coordinate.latitude }} | {{last_coordinate.longitude }}
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <span> {{ last_coordinate.speed}} Kph</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif last_coordinate.speed >= fifteen %}
                        <div class="col-xxl-2 col-lg-3 col-sm-6">
                            <div class="card card-4" >
                                <div class="card-statistic-3 p-4">
                                    <h5 class="card-title mb-4">{{ gps.name }} </h5>
                                    <div class="row justify-content-between align-items-center mb-2">
                                        <div class="col-6">
                                            <p class="d-flex align-items-center mb-0">
                                                {{last_coordinate.latitude }} | {{last_coordinate.longitude }}
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <span> {{ last_coordinate.speed}} Kph</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% elif last_coordinate.speed >= zero %}
                        <div class="col-xxl-2 col-lg-3 col-sm-6">
                            <div class="card card-5" >
                                <div class="card-statistic-3 p-4">
                                    <h5 class="card-title mb-4">{{ gps.name }} </h5>
                                    <div class="row justify-content-between align-items-center mb-2">
                                        <div class="col-6">
                                            <p class="d-flex align-items-center mb-0">
                                                {{last_coordinate.latitude }} | {{last_coordinate.longitude }}
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <span> {{ last_coordinate.speed}} Kph</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- End of Arterial Road Type Logic -->
                <!-- Start of Highway Road Type Logicl -->
                {% elif last_coordinate.road_type == 3 %}
                    {% if last_coordinate.speed >= thirtyfive %}
                        <div class="col-xxl-2 col-lg-3 col-sm-6">
                            <div class="card card-2" >
                                <div class="card-statistic-3 p-4">
                                    <h5 class="card-title mb-4">{{ gps.name }} </h5>
                                    <div class="row justify-content-between align-items-center mb-2">
                                        <div class="col-6">
                                            <p class="d-flex align-items-center mb-0">
                                                {{last_coordinate.latitude }} | {{last_coordinate.longitude }}
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <span> {{ last_coordinate.speed}} Kph</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif last_coordinate.speed >= twenty %}
                        <div class="col-xxl-2 col-lg-3 col-sm-6">
                            <div class="card card-3" >
                                <div class="card-statistic-3 p-4">
                                    <h5 class="card-title mb-4">{{ gps.name }} </h5>
                                    <div class="row justify-content-between align-items-center mb-2">
                                        <div class="col-6">
                                            <p class="d-flex align-items-center mb-0">
                                                {{last_coordinate.latitude }} | {{last_coordinate.longitude }}
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <span> {{ last_coordinate.speed}} Kph</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif last_coordinate.speed >= ten %}
                        <div class="col-xxl-2 col-lg-3 col-sm-6">
                            <div class="card card-4" >
                                <div class="card-statistic-3 p-4">
                                    <h5 class="card-title mb-4">{{ gps.name }} </h5>
                                    <div class="row justify-content-between align-items-center mb-2">
                                        <div class="col-6">
                                            <p class="d-flex align-items-center mb-0">
                                                {{last_coordinate.latitude }} | {{last_coordinate.longitude }}
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <span> {{ last_coordinate.speed}} Kph</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif last_coordinate.speed >= zero %}
                        <div class="col-xxl-2 col-lg-3 col-sm-6">
                            <div class="card card-5" >
                                <div class="card-statistic-3 p-4">
                                    <h5 class="card-title mb-4">{{ gps.name }} </h5>
                                    <div class="row justify-content-between align-items-center mb-2">
                                        <div class="col-6">
                                            <p class="d-flex align-items-center mb-0">
                                                {{last_coordinate.latitude }} | {{last_coordinate.longitude }}
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <span> {{ last_coordinate.speed}} Kph</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="col-xxl-2 col-lg-3 col-sm-6">
                        <div class="card card-1" >
                            <div class="card-statistic-3 p-4">
                                <h5 class="card-title mb-4">{{ gps.name }} </h5>
                                <div class="row justify-content-between align-items-center mb-2">
                                    <div class="col-6">
                                        <p class="d-flex align-items-center mb-0">
                                            {{last_coordinate.latitude }} | {{last_coordinate.longitude }}
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <span> {{ last_coordinate.speed}} Kph</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- End of Highway RoadType Logic -->
                {% endif %}
                <!-- End of GPS Deployed Status -->
            {% endif %}
        
    
        {% endfor %}

    </div>


{% endblock %}