
{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    
    <h2 class="card-header text-center">
        Traffic Management Service
    </h2>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
        <a href = "{% url 'traffic_management' %}" class="btn btn-outline-success" for="btnradio1">Version 1</a>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <a href = "{% url 'traffic_management2' %}" class="btn btn-outline-success" for="btnradio2">Version 2</a>
    </div>
    

    <div class="card-body">
        <h5 class="card-title">ATMS Team is here to serve.</h5>
        <p>
            There are two version of Traffic Management Service, click the buttons above or the link 
            of desired version.<br>
            <a href="{% url 'traffic_management' %}">Version 1</a> views and manages information about the gps sensors, including the paramaters it collects,
            whereabouts, and mulfunctioned gps sensors. <br>
            <a href="{% url 'traffic_management2' %}">Version 2</a> views summarize information of gathered data processed by by the system.
        </p>
        
    </div>
    
</div>

<div class="row d-flex justify-content-center">
    <div class="card col-xxl-8 text-center">
        <h5 class="card-header text-white" style="background-color: rgb(6, 83, 57); ">GPS Sensors Information</h5>
        <div class="card-body">
            <div class="table-responsive table-responsive-sm">
                <table class="table table-striped">
                <thead>
                  <tr>
                    <th >GPS ID</th>
                    <th >Longitude</th>
                    <th >Latitude</th>
                    <th >Speed (Kph)</th>
                    <th >Time</th>
                    <th >Date</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">11</th>
                    <td>16.3433</td>
                    <td>15.3433</td>
                    <td>25</td>
                    <td>2:52pm</td>
                    <td>4/15/2023</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>16.3433</td>
                    <td>15.3433</td>
                    <td>21</td>
                    <td>2:52pm</td>
                    <td>4/15/2023</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td >15.3433</td>
                    <td>16.3433</td>
                    <td>10</td>
                    <td>2:52pm</td>
                    <td>4/15/2023</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>

    <div class="card col-xl-3 text-center">
        <h5 class="card-header text-white" style="background-color: rgb(73, 72, 72);">Mulfunctioned GPS Sensors</h5>
        <div class="card-body">
            <div class="table-responsive table-responsive-sm">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>GPS ID</th>
                    <th>Vehicle Operator</th>
                    <th>Operator Contact</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">11</th>
                    <td>Mark</td>
                    <td>09561723922</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>09526426865</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td >Larry the Bird</td>
                    <td>09526465465</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    
</div>

<div class="row d-flex justify-content-center">
    
    <div class="card col-lg-6 text-center">
        <h5 class="card-header text-white" style="background-color: rgb(5, 99, 99);">GPS Sensors Whereabouts</h5>
        <div class="card-body">
            <div class="table-responsive table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th >GPS ID</th>
                        <th >Vehicle Plate</th>
                        <th >Vehicle Operator</th>
                        <th >Operator Contact</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">11</th>
                        <td>NGL 7688</td>
                        <td>Otto</td>
                        <td>09561723922</td>
                    </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card col-lg-5 text-center">
        <h5 class="card-header text-white" style="background-color: rgb(5, 99, 99);">GPS Sensor Device Information</h5>
        <div class="card-body">
            <div class="table-responsive table-responsive-sm">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th >GPS ID</th>
                    <th >Serial No.</th>
                    <th >Month/Year</th>
                    <th >Operating?</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">11</th>
                    <td>NGL 3234217688</td>
                    <td>November 2019</td>
                    <td>YES</td>
                  </tr>
                  <tr>
                    <th scope="row">12</th>
                    <td>AXS 3234217688</td>
                    <td>November 2019</td>
                    <td>NO</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
        </div>
    </div>
    

    
</div>

<div class="row">
    
</div>


{% endblock %}
