
{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    
    <h2 class="card-header text-center">
        Traffic Management Service
    </h2>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <a href = "{% url 'traffic_management' %}" class="btn btn-outline-success" for="btnradio1">Unprocessed Data Visualization</a>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <a href = "{% url 'traffic_management2' %}" class="btn btn-outline-success" for="btnradio2">Processed Data Visualization</a>
    </div>
    

    <div class="card-body">
        <h5 class="card-title">Here we let you visualize GPS devices collected data.</h5>
        <p>
            There are two version of Traffic Management Service, click the buttons above or the link 
            of desired version.<br>
            <a href="{% url 'traffic_management' %}">Version 1</a> displays unprocessed information. <br>
            <a href="{% url 'traffic_management2' %}">Version 2</a> displays processed information. <br>
        </p>
        
    </div>
    
</div>

<div class="row d-flex justify-content-center">
    <div class="card col-xxl-8 text-center">
      <div class="card-header text-white d-flex justify-content-between align-items-center" style="background-color: rgb(5, 99, 99);"> <h3>Real-time GPS Data</h3>
        <a href="{% url 'add_coordinate'%}" class="btn btn-info btn-lg bg-transparent text-white" role="button" aria-disabled="false">Add Dummy Data</a>
      </div>
      <div class="card-body">
            <div class="table-responsive table-responsive-sm">
                <table class="table table-striped">
                <thead>
                  <tr>
                    <th >Date</th>
                    <th >Time</th>
                    <th >GPS Name</th>
                    <th >Latitude</th>
                    <th >Longitude</th>
                    <th >Speed (Kph)</th>
                  </tr>
                </thead>
                <tbody>
                  {% for gps in coordinates %}
                  <tr>
                    <td>{{gps.date}} </td>
                    <td>{{gps.time}}</td>
                    <td>{{gps.gpsdevice}}</td>
                    <td>{{gps.latitude}}</td>
                    <td>{{gps.longitude}}</td>
                    <td>{{gps.speed}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>

    <div class="card col-xl-3 text-center">
        <h5 class="card-header text-white" style="background-color: rgb(73, 72, 72);">Mulfunctioned GPS Sensors</h5>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>GPS Name</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for gps in gps_device %}
                    <tr>
                      <td>{{gps.name}} </td>
                      <td>{{gps.status}}</td>
                    </tr>
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    
</div>

<div class="row d-flex justify-content-center">
    
    <div class="card col-lg-6 text-center">
        <h5 class="card-header text-white" style="background-color: rgb(5, 99, 99);">GPS Sensors Whereabouts</h5>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th >GPS Name</th>
                    <th >Operator</th>
                    <th >Vehicle Plate</th>
                    <th >Operator Contact</th>

                  </tr>
                </thead>
                <tbody>
                  {% for operator in operator %}
                    <tr>
                      <td>{{operator.gps}} </td>
                      <td>{{operator.operator}} </td>
                      <td>{{operator.plate_number}} </td>
                      <td>{{operator.contact}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>

    <div class="card col-lg-5 text-center">
        <h5 class="card-header text-white" style="background-color: rgb(5, 99, 99);">GPS Sensor Device Information</h5>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th >GPS name</th>
                    <th >ID</th>
                    <th >IMEI</th>
                    <th >Model</th>

                  </tr>
                </thead>
                <tbody>
                  {% for gps in gps_device %}
                    <tr>
                      <td>{{gps.name}} </td>
                      <td>{{gps.id}} </td>
                      <td>{{gps.imei}} </td>
                      <td>{{gps.model}}</td>
                    </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
        </div>
    </div>
    

    
</div>

<div class="row">
    
</div>


{% endblock %}
